.underline {
    text-decoration: underline;
}

.title {
    font-weight: 700;
    text-decoration: underline;
    

}

li p {
    text-indent: 2em;
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
     list-style: 25px;
    line-height: 32px;
}

.bold {
    font-weight: 700;
}